:root {
  --brand-color: #212121;
  --item-color: #2196f3;
  --link-color: #757575;
  --second-background: #f5f4fa;
  --third-background: #2f303a;
}

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
}

.menu-item-one {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--item-color);
}

.menu-item-two {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--item-color);
}

.menu-item-twenty-two {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.menu-item-twenty-two:hover,
.menu-item-twenty-two:focus {
  color: var(--item-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-three {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.menu-item-three:hover,
.menu-item-three:focus {
  color: var(--item-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-thirty-three {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--item-color);
}

.menu-item-four {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.menu-item-four:hover,
.menu-item-four:focus {
  color: var(--item-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-five {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-left: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.menu-item-five:hover,
.menu-item-five:focus {
  color: var(--item-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  cursor: pointer;
  fill: #757575;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon-envelope {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.menu-item-five:hover .icon,
.menu-item-five:focus .icon {
  fill: var(--item-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-six {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-left: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.contact-icon-phone {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.menu-item-six:hover,
.menu-item-six:focus {
  color: var(--item-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-six:hover .icon,
.menu-item-six:focus .icon {
  fill: var(--item-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-color {
  color: #ffffff;
}

a:link {
  text-decoration: none;
}

.email {
  text-decoration: underline;
}

.container-footer {
  min-width: 1200px;
  display: flex;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal;
  background: var(--third-background);
}

.footer-section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

.fotter-address {
  margin-right: 70px;
}

.footer-name {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--item-color);
}

.footer-name:hover,
.footer-name:focus {
  color: var(--link-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-name:hover .footer-menu-color,
.footer-name:focus .footer-menu-color {
  color: var(--link-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-color {
  color: #ffffff;
}

.footer-menu-color:hover,
.footer-menu-color:focus {
  color: var(--link-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-data {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 9px;
}

.footer-data:hover,
.footer-data:focus {
  color: var(--link-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-data {
  color: white;
}

a.footer-contact {
  color: white;
}

.footer-contact:hover,
.footer-contact:focus {
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list {
  list-style-type: none;
  margin-top: 20px;
}
.footer-second-section {
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 50px;
  margin-right: 40px;
}

.footer-second-section-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  margin-left: 35px;
  margin-top: 10px;
  padding-bottom: 20px;
}

.section-social-link-footer {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 32px;
}

.social-icon-footer {
  width: 20px;
  height: 20px;
  fill: white;
}

.social-icon-footer:hover,
.social-icon-footer:focus {
  fill: white;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}

.social-link-footer,
.social-link-footer {
  background-color: #4c4e5f;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--item-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
  display: flex;
  flex-direction: row;
}

.fieldset-footer {
  border: none;
}

.fieldset-footer-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
}

.fieldset-footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  margin-right: 12px;
  padding-left: 16px;
}

.fieldset-footer-input:focus {
  border-color: var(--item-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fieldset-footer-input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.fieldset-footer-button {
  background: var(--item-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  margin-top: 46px;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
}

.fieldset-footer-button-push {
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
  position: absolute;
  left: 40px;
}

.fieldset-footer-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 40px;
}

.fieldset-footer-button:hover,
.fieldset-footer-button:focus {
  background: #7cbef4;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title-color {
  min-width: 1200px;
  background: #2f303a;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('./../images/index_img/background-title.jpg');
}

.main-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}

.name-color {
  color: var(--brand-color);
}

.name-description {
  color: var(--link-color);
}

nav .menu-color {
  color: #000000;
}

.box-first {
  background: var(--item-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 30px;
}

.box-first:hover,
.box-first:focus {
  background: #7cbef4;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons {
  width: 1200px;
  margin: auto;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
  padding-top: 94px;
}

.second-nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 121px;
  height: 38px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.btn-hover {
  border: none;
  background: #f5f4fa;
}

.btn-hover:hover,
.btn-hover:focus {
  background: var(--item-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: white;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-color {
  min-width: 1200px;
  margin: auto;
  background: var(--second-background);
}

button[type='button'] {
  cursor: pointer;
}

.container {
  margin: auto;
}

.border {
  border-bottom: 1px solid #ececec;
  min-width: 1200px;
}

.header-content {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.menu-item-one {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.menu-item-one:hover,
.menu-item-one:focus {
  color: var(--link-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-one:hover .menu-color,
.menu-item-one:focus .menu-color {
  color: var(--link-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-color:hover,
.menu-color:focus {
  color: var(--link-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-two {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 46px;
}

.menu-item-twenty-two {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 46px;
  position: relative;
}

.menu-item-two::after {
  content: '';
  position: absolute;
  width: 58px;
  height: 4px;
  bottom: 32px;
  top: 78px;
  background: #2196f3;
  border-radius: 2px;
  display: block;
}

.menu-item-three {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 46px;
}

.menu-item-thirty-three {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 46px;
}

.menu-item-thirty-three::after {
  content: '';
  position: absolute;
  width: 58px;
  height: 4px;
  bottom: 32px;
  top: 78px;
  background: #2196f3;
  border-radius: 2px;
  display: block;
}

.menu-item-four {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 50px;
}

.menu-item-five {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 40px;
  color: #757575;
}

.menu-item-six {
  margin-top: 32px;
  margin-bottom: 32px;
  color: #757575;
}

.second-title {
  margin-bottom: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.photo-first-page {
  gap: 30px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
}

.photo-first-page-competition {
  position: relative;
}

.photo-first-page-data {
  display: flex;
  gap: 30px;
}

.photo-first-page-box {
  position: absolute;
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 27px 90px;
}

.last-title {
  margin-bottom: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.picture-portfolio {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 94px;
  gap: 30px;
}

.picture-portfolio-box {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}
.picuture-portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.picture-portfolio-overlay-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 49px;
  padding-bottom: 49px;
  padding-left: 24px;
  padding-right: 45px;
}

.picture-portfolio-box:hover .picture-portfolio-overlay {
  transform: translate(0%, -100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  height: 101%;
  width: 101%;
}

.picture-portfolio-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
}

.picture-portfolio-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--link-color);
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.picture-portfolio > li {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.picture-portfolio-hover:hover,
.picture-portfolio-hover:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-lorem-list {
  padding-top: 94px;
}

.lorem-description-icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.lorem-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

li > .name-color {
  padding-top: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

li > .name-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-right: 30px;
  width: 270px;
  height: 75px;
  margin-bottom: 75px;
}

.list-photo-name {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.photo-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-inline: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
}

.name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.occupation {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 16px;
}

.section-social-link {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 32px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--item-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: white;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gap {
  padding-top: 94px;
  padding-bottom: 94px;
}

.last-section {
  padding-top: 94px;
  margin-bottom: 50px;
  fill: #afb1b8;
}

.last-section-icon-border {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-right: 30px;
  cursor: pointer;
}

.last-section-icon-border:hover,
.last-section-icon-border:focus {
  border-color: var(--item-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.last-section-icon:hover,
.last-section-icon:focus {
  fill: var(--item-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.last-section-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-bottom: 94px;
}

.is-hidden {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: transform 0.25s;
}

.modal {
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: center;
}

.modal-close-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal-box-title {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 30px;
}

.fieldset {
  display: flex;
  position: relative;
  padding-block: 0px;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 28px;
}

.modal-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--link-color);
  margin-left: 17px;
  margin-bottom: 4px;
  position: absolute;
  top: -20px;
  left: -15px;
}

.modal-form .modal-box-name-size {
  border: 0;
  background-color: transparent;
  width: 390px;
  outline: none;
}

.modal-name-icon {
  width: 12px;
  height: 12px;
  fill: var(--brand-color);
  position: absolute;
  left: 10px;
  display: block;
}

.fieldset:has(.modal-box-name-size:focus) {
  border-color: var(--item-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fieldset:has(.modal-box-name-size:focus) .modal-name-icon {
  fill: var(--item-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fieldset-comment {
  display: flex;
  position: relative;
  padding-block: 0px;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

.fieldset-comment:has(.modal-box-comment-size:focus) {
  border-color: var(--item-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box-comment-size {
  width: 416px;
  height: 96px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  /* padding-left: 16px;
padding-top: 12px; */
  color: rgba(117, 117, 117, 0.5);
}

.fieldset-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}

.modal-submit-checkbox {
  position: relative;
  cursor: pointer;
  margin-right: 8px;
}

.modal-submit-icon {
  width: 13px;
  height: 13px;
  fill: var(--brand-color);
  position: absolute;
  right: -0.1px;
  bottom: 3.5px;
  border-radius: 2px;
}

.modal-submit-checkbox .modal-submit-icon {
  fill: white;
  background-color: transparent;
}

input:checked + .modal-submit-checkbox .modal-submit-icon {
  fill: white;
  background-color: var(--item-color);
}

.modal-submit-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

a.modal-submit-term {
  color: var(--item-color);
  text-decoration: underline;
  cursor: pointer;
}

.modal-submit-button {
  background: var(--item-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  margin-top: 30px;
  border: none;
}

.modal-submit-button-push {
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background: #7cbef4;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
